In [1]:
score=[32,15,35,1584,3621,4,1,65,1,6,2,1,85,4,2,3,65,2,1,5,3,2,1,85,2,4,65,2,321,54]
print(score)

[32, 15, 35, 1584, 3621, 4, 1, 65, 1, 6, 2, 1, 85, 4, 2, 3, 65, 2, 1, 5, 3, 2, 1, 85, 2, 4, 65, 2, 321, 54]

In [3]:
score=[32,15,35,1584,3621,4,1,65,1,6,2,1,85,4,2,3,65,2,1,5,3,2,1,85,2,4,65,2,321,54]
print(score)
type(score)
id(score)

[32, 15, 35, 1584, 3621, 4, 1, 65, 1, 6, 2, 1, 85, 4, 2, 3, 65, 2, 1, 5, 3, 2, 1, 85, 2, 4, 65, 2, 321, 54]

2631404024896

In [4]:
score=[32,15,35,1584,3621,4,1,65,1,6,2,1,85,4,2,3,65,2,1,5,3,2,1,85,2,4,65,2,321,54]
print(score)
for i in range(len(score)):
    print(i,score[i])

[32, 15, 35, 1584, 3621, 4, 1, 65, 1, 6, 2, 1, 85, 4, 2, 3, 65, 2, 1, 5, 3, 2, 1, 85, 2, 4, 65, 2, 321, 54]
0 32
1 15
2 35
3 1584
4 3621
5 4
6 1
7 65
8 1
9 6
10 2
11 1
12 85
13 4
14 2
15 3
16 65
17 2
18 1
19 5
20 3
21 2
22 1
23 85
24 2
25 4
26 65
27 2
28 321
29 54

In [7]:
score=[32,15,35,1584,3621,4,1,65,1,6,2,1,85,4,2,3,65,2,1,5,3,2,1,85,2,4,65,2,321,54]

for i in range (len(score)):
    score[i]=i*10
    print(score)

[0, 15, 35, 1584, 3621, 4, 1, 65, 1, 6, 2, 1, 85, 4, 2, 3, 65, 2, 1, 5, 3, 2, 1, 85, 2, 4, 65, 2, 321, 54]
[0, 10, 35, 1584, 3621, 4, 1, 65, 1, 6, 2, 1, 85, 4, 2, 3, 65, 2, 1, 5, 3, 2, 1, 85, 2, 4, 65, 2, 321, 54]
[0, 10, 20, 1584, 3621, 4, 1, 65, 1, 6, 2, 1, 85, 4, 2, 3, 65, 2, 1, 5, 3, 2, 1, 85, 2, 4, 65, 2, 321, 54]
[0, 10, 20, 30, 3621, 4, 1, 65, 1, 6, 2, 1, 85, 4, 2, 3, 65, 2, 1, 5, 3, 2, 1, 85, 2, 4, 65, 2, 321, 54]
[0, 10, 20, 30, 40, 4, 1, 65, 1, 6, 2, 1, 85, 4, 2, 3, 65, 2, 1, 5, 3, 2, 1, 85, 2, 4, 65, 2, 321, 54]
[0, 10, 20, 30, 40, 50, 1, 65, 1, 6, 2, 1, 85, 4, 2, 3, 65, 2, 1, 5, 3, 2, 1, 85, 2, 4, 65, 2, 321, 54]
[0, 10, 20, 30, 40, 50, 60, 65, 1, 6, 2, 1, 85, 4, 2, 3, 65, 2, 1, 5, 3, 2, 1, 85, 2, 4, 65, 2, 321, 54]
[0, 10, 20, 30, 40, 50, 60, 70, 1, 6, 2, 1, 85, 4, 2, 3, 65, 2, 1, 5, 3, 2, 1, 85, 2, 4, 65, 2, 321, 54]
[0, 10, 20, 30, 40, 50, 60, 70, 80, 6, 2, 1, 85, 4, 2, 3, 65, 2, 1, 5, 3, 2, 1, 85, 2, 4, 65, 2, 321, 54]
[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 2, 1, 85, 4, 2, 3, 65, 2, 1, 5, 3, 2, 1, 85, 2, 4, 65, 2, 321, 54]
[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 1, 85, 4, 2, 3, 65, 2, 1, 5, 3, 2, 1, 85, 2, 4, 65, 2, 321, 54]
[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 85, 4, 2, 3, 65, 2, 1, 5, 3, 2, 1, 85, 2, 4, 65, 2, 321, 54]
[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 4, 2, 3, 65, 2, 1, 5, 3, 2, 1, 85, 2, 4, 65, 2, 321, 54]
[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 2, 3, 65, 2, 1, 5, 3, 2, 1, 85, 2, 4, 65, 2, 321, 54]
[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 3, 65, 2, 1, 5, 3, 2, 1, 85, 2, 4, 65, 2, 321, 54]
[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 65, 2, 1, 5, 3, 2, 1, 85, 2, 4, 65, 2, 321, 54]
[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 2, 1, 5, 3, 2, 1, 85, 2, 4, 65, 2, 321, 54]
[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 1, 5, 3, 2, 1, 85, 2, 4, 65, 2, 321, 54]
[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 5, 3, 2, 1, 85, 2, 4, 65, 2, 321, 54]
[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 3, 2, 1, 85, 2, 4, 65, 2, 321, 54]
[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200, 2, 1, 85, 2, 4, 65, 2, 321, 54]
[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200, 210, 1, 85, 2, 4, 65, 2, 321, 54]
[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200, 210, 220, 85, 2, 4, 65, 2, 321, 54]
[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 2, 4, 65, 2, 321, 54]
[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 4, 65, 2, 321, 54]
[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 250, 65, 2, 321, 54]
[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 250, 260, 2, 321, 54]
[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 250, 260, 270, 321, 54]
[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 250, 260, 270, 280, 54]
[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 250, 260, 270, 280, 290]

In [19]:
list1=list()
list2=list('hello')
list3=list(range(0,5))
print(list1,list2,list3)

TypeError: 'list' object is not callable

In [20]:
list1=[]
list2=['h','e','l','l','o']
list=[0,1,2,3,4]
print(list1,list2,list3)

[] ['h', 'e', 'l', 'l', 'o'] [0, 1, 2, 3, 4]

In [22]:
list1=[12,'dog',180.14]
list2=(['seoul',10],['paris',12],['london',50])
list3=['aaa',['bbb',['ccc',['ddd','eee']]]]
print(list1,list2,list3)

[12, 'dog', 180.14] (['seoul', 10], ['paris', 12], ['london', 50]) ['aaa', ['bbb', ['ccc', ['ddd', 'eee']]]]

In [25]:
text='Will is power'
print(text[0],text[3],text[-1])
flist=['apple','banana','tomato','peach','pear']
print(flist[0],flist[3],flist[-1])

W l r
apple peach pear

In [36]:
alist=['apple','banana','tomato','peach','orange']
print(alist[1][0])

b

In [45]:
squares=[3,5,2,4,4,2,1,8,63,2]
squares[:]

[3, 5, 2, 4, 4, 2, 1, 8, 63, 2]

In [ ]:
a=[1,2,3,4,5]
b=a[:]
print(b)
#type(b)
#b=a[:]
#print(b)
b[0]=100
print(a)
print(b)
print(type)

SyntaxError: invalid syntax (1152142428.py, line 11)

In [64]:
a=[1,2,3,4,5]
a.insert(2,64)
print(a)

[1, 2, 64, 3, 4, 5]

In [67]:
heroes=['아이언맨','캡틴 아메리카','헐크','블랙팬서']
if '스파이더맨' in heroes:
    print('헐크는 영웅이다')

In [70]:
li=[3,2,1,5,4]
li.sort()
print(li)

[1, 2, 3, 4, 5]

In [72]:
li=[3,2,1,5,4]
s_li=sorted(li)
print(s_li)

[1, 2, 3, 4, 5]

In [74]:
li=sorted([5,2,3,4,1],reverse=True)
print(li)

[5, 4, 3, 2, 1]

In [76]:
statement='Where there is a will,there is a way'
li=statement.split(',')
print(li)

['Where there is a will', 'there is a way']

In [90]:
def inputtotal(a):
    list_num=[]

    for i in range(a):
        list_num.append(int(input(f'{i+1}번 입력:')))

    list_sum=sum(list_num)
    return list_sum

input_num=int(input('입력할 값의 계수:'))
total=inputtotal(input_num)
print('값의 합계',total)

ValueError: invalid literal for int() with base 10: ''

In [103]:
import random

def randomint():
    list_array=list()
    cnt=0
    while True:
        if cnt == 10:
            break
        list_array.append(random.randint(1,100))
        cnt+=1
    print(list_array)
randomint()
print(randomimt)

TypeError: 'list' object is not callable

In [104]:
def printstar(list_star):
    for i in range(len(list_star)):
        if list_star[i]<10:
            print(list_star[i],"     ","*"*list_star[i])
        else:
            print(list_star[i],'     ','*'*list_star[i])

star=[20,1,12,9,18]
print(star)

[20, 1, 12, 9, 18]

In [108]:
def minuslist(alist):

    print('실행 전',alist)
    alist_after=[-i if 3<=i and i<=8 else i for i in alist]
    print('실행 후',alist_after)

alist=[1,2,3,4,5,6,7,8,9,10]
minuslist(alist)

실행 전 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
실행 후 [1, 2, -3, -4, -5, -6, -7, -8, 9, 10]

In [109]:
a=[x for x in range(5)]

b=[0,1,2,3,4]
print(a)
print(b)

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]

In [111]:
def single_list(alist):  #리스트 안의 중복 요소를 제거하는 함수이다
    aset=set(alist)    #세트는 중복이 불가능하기 떄문에 리스트를 사용한다
    non_same=list(aset)  #
    return non_same

def same_element(list1,list2):
    same_list=[i for i in list1 for j in list2 if i==j]
    only=single_list(same_list)
    print('결과=',only)

a=[1,2,3,4,5]
b=[1,3,3,4,5,6,7]
print('a=',a)
print('b=',b)
same_element(a,b)

a= [1, 2, 3, 4, 5]
b= [1, 3, 3, 4, 5, 6, 7]

TypeError: 'list' object is not callable

In [1]:
def find_max(numbers):
    max_num=numbers[0]
    for num in numbers:
        if num>max_num:
            max_num=num
    return max_num

print(find_max([3,7,2,9,5]))

9

In [3]:
def add_numbers(a,b):
    return a+b
print(add_numbers(3,9))

12

In [10]:
numbers=(1,2,3,4,5)
colors=('red','blue','yelow')
t=numbers+colors
print(t)

(1, 2, 3, 4, 5, 'red', 'blue', 'yelow')

In [18]:
student1=('철수',19,'cs')
(name,age,major)=student1
print(name)
print(age)
print(major)

철수
19
cs

In [2]:
def average(numbers):
    if len(numbers)==0:
        return 0
    total=sum(numbers)
    average=total/len(numbers)
    return average

print(average([1,2,3,4]))
print(average([10,20,30]))
print(average([]))

2.5
20.0
0

In [11]:
def filter_even(numbers):
    even_numbers=[]
    for num in numbers:
        if num%2==0:
            even_numbers.append(num)
    return even_numbers
print(filter_even([1,2,3,4,5,6,7,8,9,10]))
print(filter_even([7,9,11]))

[2, 4, 6, 8, 10]
[]

In [5]:
cities={'paris','seoul','london','berlin','paris','seoul'}
print(cities)

{'london', 'paris', 'seoul', 'berlin'}

In [9]:
numbers={2,1,3}
for x in numbers:
    print(x,end="")

123

In [10]:
for x in sorted(numbers):
    print(x,end='')

123

In [13]:
my_list=(1,3,4,5,6,7,8,4,2,1,3,6)
#set(my_list)
sorted(my_list)

[1, 1, 2, 3, 3, 4, 4, 5, 6, 6, 7, 8]

In [ ]:
def max_num(numbers):

In [32]:
contacts={'jung':"01041395378",'jang':"01053023882"}
print(contacts)
print(contacts['jang'])
contacts.get('jang')

{'jung': '01041395378', 'jang': '01053023882'}
01053023882

'01053023882'

In [34]:
contacts={'kim':"01012345678",'park':"01021235431",'lee':"123456789"}
print(contacts.pop('kim'))
print(contacts)

01012345678
{'park': '01021235431', 'lee': '123456789'}

In [36]:
contacts={'kim':"01012345678",'park':"01021235431",'lee':"123456789"}
del contacts['kim']
print(contacts)

{'park': '01021235431', 'lee': '123456789'}

In [1]:
print(squares)
print(1 in squares)
print(2 not in squares)

NameError: name 'squares' is not defined

In [2]:
def get_unique_sorted_list():
    number=[]
    print('정수를 입력하세요. 입력을 마치려면 done을 입력하세요.')

    while True:
        value=input('정수:')
        if value.lower()=='done':
            break
        try:
            num=int(value)
            number.append(num)
        except ValueError:
            print('정수만 입력하시오:')

    unique_sorted=sorted(set(number))

    return unique_sorted

result=get_unique_sorted_list()
print('정렬된 중복 제거 리스트:',result)

정수를 입력하세요. 입력을 마치려면 done을 입력하세요.
정수만 입력하시오:
정수만 입력하시오:
정렬된 중복 제거 리스트: [1, 2, 5, 13, 16, 21, 32, 51, 56, 1521, 4213]

In [3]:
#(x:x*x)형식의 숫자(1과10사이)를 key로 포함하는 딕셔너리를 생성하고 출력하는 프로그램 함수 정의
def key_dict():
    result={}
    for x in range(1,11):
        key=x*x
        result[key]=x
    return result

squre_dict=key_dict()
print('제곱을 key로 갖는 딕셔너리:',squre_dict)

제곱을 key로 갖는 딕셔너리: {1: 1, 4: 2, 9: 3, 16: 4, 25: 5, 36: 6, 49: 7, 64: 8, 81: 9, 100: 10}

In [5]:
def add_num(a,b):
    return a+b

print(add_num(5,7))
print(add_num(10,20))

12
30

In [ ]:
def max_of_three(a,b,c):